<div class="container">
  <div id="todotable" class="jumbotron">
    <nav id="navstyle" class="navbar navbar-light bg-light">
      <div class="collapse navbar-collapse">
        <form class="navbar-form">
          <h1>Holan's Todolist</h1>
          <button type="button" class="btn btn-link"><%= link_to 'New Task', new_todo_path %></button>
        </form>
      </div>
    </nav>
    <table  id="tablestyle" class="table table-sm table-hover">
      <% @todos.each do |todo| %>
        <tr>
          <td><span class="glyphicon glyphicon-piggy-bank"></span></td>
          <td><%= todo.title %></td>
          <td><%= todo.duedate %></td>
          <td><%= todo.note %></td>
          <td><%= link_to 'Detail', todo_path(todo) %></td>
          <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
          <% if todo.duedate < Date.today %>
           <td>Ohoh..You are too late...</td>
          <% else %>
           <td><%= link_to 'Finish', todo_path(todo), method: :delete, data:{ confirm: "Done???"} %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
